#content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#post-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    padding: 2rem;
}

#post-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.post-title-date{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#post-date{
    margin: 0%;
    font-size: 0.9rem;
    color: gray;
}

#post-title{
    margin: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#post-descripts{
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    color: gray;
    justify-content: center;
    align-items: center;
}

#post-update{
    margin: 0;
}

#post-body{
    line-height: 1.5em;
}

#comments-section{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#comment-title{
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid;
}

.comment{
    padding: 1rem;
    background-color: #DEDEDE;
    margin-bottom: 0.8rem;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
}

.comment p{
    margin: 0%;
}

.comment-time{
    font-size: 0.8em;
}

.comment-head{
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-name{
    font-weight: bold;
}

.comment-content{
    font-size: 0.8rem;
}

#comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reply{
    width: 95%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid;
    align-self: flex-end;
    padding-left: 0.8rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    min-width: 5em;
}

.reply-button{
    font-size: 0.8rem;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 0.8rem;
    color: gray;
    padding: 0%;
    background: none;
    border: none;
    outline: 0;

    transition: ease-in-out color .2s;
}

.reply-button:hover{
    cursor: pointer;
    color: black;
}

img{
    cursor: pointer;
}
